apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: longhorn-system

resources: []

commonLabels:
  app.kubernetes.io/part-of: longhorn-storage
  app.kubernetes.io/managed-by: flux 