---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 30m
  values:
    grafana:
      persistence:
        enabled: true
        type: sts
        storageClassName: "longhorn"
        accessModes:
          - ReadWriteOnce
        size: 1Gi
        finalizers:
          - kubernetes.io/pvc-protection
      adminPassword: password
      ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-prod"
        hosts:
          - monitoring.justindesio.com
        tls:
          - secretName: monitoring-tls
            hosts:
              - monitoring.justindesio.com
