---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  suspend: false
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "70.x"
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: monitoring
      interval: 12h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  values:
    grafana:
      adminPassword: password
      persistence:
        enabled: true
        type: sts
        storageClassName: "longhorn"
        accessModes:
          - ReadWriteOnce
        size: 1Gi
        finalizers:
          - kubernetes.io/pvc-protection
      ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-prod"
        hosts:
          - monitoring.justindesio.com
        tls:
          - secretName: monitoring-tls
            hosts:
              - monitoring.justindesio.com
