apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: media

resources:
  # Core resources
  - media-namespace.yaml
  - shared-pvcs.yaml
  
  # Media applications
  - jellyfin.yaml
  - jellyfin-vue.yaml
  - sonarr.yaml
  - radarr.yaml
  - jackett.yaml
  - qbittorrent.yaml
  - nzbget.yaml
  - prowlarr.yaml

commonLabels:
  app.kubernetes.io/part-of: media-stack
  app.kubernetes.io/managed-by: flux